<div ng-controller="TimeMachineController as timeCtrl">
		
	<div class="date">{{timeCtrl.currentDate() | date:'dd.MM.yyyy HH:mm:ss'}}</div>
	<div class="slider">
		<input type="range" name="points" min="0" max="{{timeCtrl.dataService.maxTimeIncrement}}" 
				ng-model="timeCtrl.timeIncrement"
				ng-mousedown="timeCtrl.temporaryPause = true" 
				ng-mouseup="timeCtrl.updateData()"></div>
	<div class="controls">
		<i class="fa fa-pause" ng-click="timeCtrl.isRunning = false" ng-class="{inactive: !timeCtrl.isRunning}"></i>
		<i class="fa fa-play" ng-click="timeCtrl.isRunning = true" ng-class="{inactive: timeCtrl.isRunning}"></i>
	</div>
	
	
</div>
			