<div class="notifications-inbox" ng-controller="NotificationsInboxController as inboxCtrl">

	<ul>
		<li class="live" ng-repeat="msg in inboxCtrl.inboxSvc.messages">
			<div class="header" ng-click="inboxCtrl.displayMessage($index)" ng-class="{unread: msg.unread}">
				<div class="col-1">
					<span class="date" 
							ng-bind="(inboxCtrl.dataSvc.startDateTime.getTime() 
									+ 1 * msg.reception_datetime_from_simulation_starttime * 1000
								) | date:'dd.MM.yyyy HH:mm'"></span>
				</div>
				<div class="col-2">
					<span class="subject" ng-bind="msg.subject"></span>
				</div>
				<div class="col-3">
					<span class="processed" ng-show="!msg.submit">unknown</span>
					<span class="processed" ng-show="msg.submit" ng-bind="msg.submit"></span>
				</div>
			</div>
			<div class="modal-box-message-detail" ng-show="inboxCtrl.show_modal_box && inboxCtrl.modal.which == $index">
				<p class="task">Task: <span ng-bind="inboxCtrl.modal.task"></span></p>
				<label for="comment">Comment:</label>
				<div ng-if="msg.submit" class="comment" ng-bind="inboxCtrl.modal.comment"></div>
				<textarea ng-if="!msg.submit" name="comment" class="comment" ng-model="inboxCtrl.modal.comment"></textarea>
				<div class="buttons" ng-show="!msg.submit">
					<div class="col-button-1"><button ng-click="inboxCtrl.submit($index, 'denied')">Deny</button></div>
					<div class="col-button-2"><button ng-click="inboxCtrl.submit($index, 'approved')">Approve</button></div>
				</div>
				<div class="buttons" ng-show="msg.submit">
					<div class="button-like" ng-bind="msg.submit"></div>
				</div>
				
			</div>
		</li>
	</ul>
	
	
	
</div>