<!DOCTYPE html>
<!-- 
 * @@source_header
 -->
<html xmlns:ng="http://angularjs.org" lang="en">
	<head>
		<meta charset="UTF-8">
		<title>FOCUS mobile application demonstrator</title>
		<link href="contrib/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="contrib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="contrib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
		<link href="contrib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
		<link href="contrib/leaflet/dist/leaflet.css" rel="stylesheet" />
		<link href="css/focus-general.css" rel="stylesheet" />
		<link href="css/focus-views.css" rel="stylesheet" />
	</head>
	
	<body ng-app="focusApp" ng-cloak>
		
		<div id="mobile-bar-top"> top bar </div>
		
		<div id="mobile-main-content">
			<header>
				header <button id="simple-menu" translate>OPEN MENU</button>
			</header>
			<article ng-view autoscroll="true">	</article>
			<footer>
				footer
			</footer>
		</div>
		
		<div id="mobile-bar-bottom"> bottom bar </div>
    	
		<nav id="sidr">
			<h1>TITLE</h1>
			<ul class="list-group" >
				<li class="list-group-item"><a ng-href="#/" snap-close>index</a></li>
				<li class="list-group-item"><a ng-href="#/machine/123" snap-close>Machine overview</a></li>
			</ul>
		</nav>
	
	</body>
	
	
	<script type="text/javascript" src="contrib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="contrib/sidr/jquery.sidr.min.js"></script>
	<script type="text/javascript" src="contrib/leaflet/dist/leaflet.js"></script>
	<script type="text/javascript" src="contrib/flot/jquery.flot.js"></script>
	<script type="text/javascript" src="contrib/angular/angular.min.js"></script>
	<script type="text/javascript" src="contrib/angular-gettext/dist/angular-gettext.min.js"></script>
	<script type="text/javascript" src="contrib/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="contrib/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="contrib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="contrib/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
	<script type="text/javascript" src="contrib/angular-flot/angular-flot.js"></script>
	<script type="text/javascript" src="app/common/services/data-service.js"></script>
	<script type="text/javascript" src="app/terrain-overview/terrain-overview.js"></script>
	<script type="text/javascript" src="app/machine-overview/machine-overview.js"></script>
	<script type="text/javascript" src="app/focus.js"></script>
	
	
	<!--  templates for avoiding CORS issues -->
	<script type="text/ng-template" id="app/terrain-overview/terrain-overview.tpl.html">
	
		<div ng-controller="TerrainOverviewController as ctrl">
			<form>
				Latitude : <input type="number" step="any" ng-model="ctrl.xcenter.lat">
				Longitude : <input type="number" step="any" ng-model="ctrl.xcenter.lng">
				Zoom : <input type="number" step="any" ng-model="ctrl.xcenter.zoom">
			</form>
			<leaflet center="ctrl.xcenter" width="800" height="400"></leaflet>

			<flot dataset="ctrl.data2" options="ctrl.options2" width="800" height="400"></flot>

		</div> 
	</script>
	
	<!-- <script type="text/ng-template" id="app/machine-overview/machine-overview.tpl.html">
<span translate>
my test
</span 
	</script>
	-->
	<!-- end of templates -->
	
	
	

		
</html>	
	

