/* tobias */

body
{
	// @include radial-gradient(#1e5799, #3dc3d1);
	// background: $red;	

	
}

div#mobile-main-content
{
	article
	{
		// Engine Revolution
		div.engineRevolution{
			div.widget-container{
				// div.ng-isolate-scope{
				// 	height: $mobile-content-height - 20vh;
				// }
			}
		}
		// Fuel Consumption
		div.fuelConsumption{
			div.widget-container-table{
				width: 100%;
			}

		}
		//Machine overview
		div.machine-overview{
			div.general{
			}
			div.link{
				padding-left: 2vh;
			}
		}
		//Information Inbox
		div.notificationsInbox{
			div.widget-container{
				div.notifikation-long{
					div.notifikation-long-title{
						// background: grey;
					}
				}
			}
		}
		//Order Status
		div.orderStatus{
			div.widget-container{
				div.logging{
					div.logging-sub{
						padding-left: 10vh;
					}
				}
				div.schedule{
					div.schedule-sub{
						padding-left: 10vh;
					}
				}
				div.deadline{
					div.deadline-sub{
						padding-left: 10vh;
					}
				}
			}
		}

		//stand.information
		div.standInformation{
			div.widget-container{
				table.data-table {
				        border-collapse: collapse;
				        font-size: 50%
				    }
				    td.border-top {
				        border-top: 1px solid #000;
				    }
				    .border-bottom {
				        border-bottom: 1px solid #000;
				    }
				    .border-left {
				        border-left: 1px solid #000;
				    }
				    .border-right {
				        border-right: 1px solid #000;
				    }
			}
		}

		// Terrain overview
		div.terrain-overview
		{	
			div.widget-container-terrain-overview
			{
				div.angular-leaflet-map{
					// background:url(../content/map.png) no-repeat center center;
					background-image: url('../content/map.png');
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-position: center; 
					height: $mobile-content-height - 20vh; // insted of -2vh must stay - height of the form above
				}	
			}
		}
	}
	
}