/* 
 * This file is part of the focus-mobile-app-demonstrator package.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
 
.sidr 
{
	display:none;
	position:absolute;
	position:fixed;
	top:$mobile-decoration-top-height;
	height: $mobile-content-height;
	z-index:998; // was 999999
	width:$sidr-menu-width;
	overflow-x:none;
	overflow-y:auto;
	background: #fefefe;

	&.left
	{
		left:-$sidr-menu-width;
		right:auto
	}
	
	&.right 
	{
		left:auto;
		right:-$sidr-menu-width;
	}

}


