@import "reset";
@import "../contrib/bourbon/app/assets/stylesheets/bourbon";
@import "setup";
@import "../contrib/neat/app/assets/stylesheets/neat";
@import "fonts";
@import "sidr";


body.touch-screen *
{
	 cursor: none !important;
}

body.touch-screen
{	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


body
{
	font-family: $font-family-sans-serif;
//	font-size: em($font-size-normal, $font-size-reference);	
	font-size: 3.5vh;
	// FIXME activate just to be safe // 
	overflow: hidden;
	
	a
	{
		color: inherit;
		text-decoration: none;
	}
	
	#mobile-bar-top,
	#mobile-bar-bottom
	{
		height: $mobile-decoration-top-height;
		background: $black;
		color: white;
		
		a
		{
			outline: none;
		}
	}
	
	#mobile-bar-top
	{
		font-size: $mobile-decoration-top-height * 0.5;
		font-family: monospace; // FIXME chose a font
		
		line-height: $mobile-decoration-top-height * 0.5;
		padding: $mobile-decoration-top-height * 0.25 0;
		
		.notifications
		{
			@include span-columns(6);
			padding-left: 0.5em;
			
			i
			{
				margin-right: 0.25em;
			}
		}
		
		.tools
		{
			@include span-columns(6);
			@include omega;
			
			text-align: right;
			padding-right: 0.5em;
			
			a,
			i
			{
				margin-left: 0.25em;
			}
		}
	}
	
	#mobile-bar-bottom
	{
		height: $mobile-decoration-bottom-height;
		
		.controls
		{
			@include span-columns(6);
			@include shift(3);
		
			padding: $mobile-decoration-bottom-height * 0.25 0;
			font-size: $mobile-decoration-bottom-height * 0.5;
			line-height: 1em;
			
			text-align: center;
			
			a
			{
				cursor: pointer;
			}
			
			a.center
			{
				margin: 0 4em;
			}
		}
	}
	
	aside#time-machine
	{
		@include outer-container;
		
		display: none; 
		position: fixed;
		bottom: $mobile-decoration-bottom-height;
		width: 100vw;
		background: $black;
		color: $white;
		z-index: 999;
		padding: 0.8em;
		opacity: 0.7;
		
		div.date
		{
			@include span-columns(3);
			text-align: right;
			font-size: 0.7em;
			line-height: 1.7em;
		}
		
		div.slider
		{
			@include span-columns(5);
			
		}
		
		div.controls,
		div.controls-2
		{
				@include span-columns(2);

				i
				{
					margin-left: 0.75em;
					cursor: pointer;
				}
				
				i.inactive
				{
					color: $grey-dark;
				}
		}
		
		div.control-2
		{
			@include omega;
		}

		input[type=range]
		{
			/* fix for FF unable to apply focus style bug  */
			border: 1px solid inherit; //was white 
			
			/*required for proper track sizing in FF*/
			width: 100%;
		}
		
		input[type=range]::-moz-range-track 
		{
			width: 100%;
			height: 5px;
			background: #ddd;
			border: none;
			border-radius: 3px;
		}
		
		input[type=range]::-moz-range-thumb 
		{
			border: none;
			height: 32px;
			width: 16px;
			border-radius: 50%;
			background: $color-slider-control;
		}
		
		/*hide the outline behind the border*/
		input[type=range]:-moz-focusring
		{
			outline: 1px solid inherit; // was white
			outline-offset: -1px;
		}
		
		input[type=range]:focus::-moz-range-track 
		{
			background: #ccc;
		}
	}
	
	#sidr.focus-intro
	{
		padding: 1.5em 1em;
		font-size: 0.8em;
		
		h1
		{
			display: none;
		}
		
		h2
		{
			color: $green-dark;
			margin-bottom: 0.5em;
			padding-top: 0.5em;
		}
		
		h3
		{
			color: $green;
			font-weight: bold;
			font-size: 0.8em;
			margin-bottom: 0.25em;
		}
		
		img
		{
			width: 100%;
			height: auto;
			margin-bottom: 1.5em;
		}
		
		p,
		ul
		{
			margin-bottom: 0.75em;
		}
		
		a
		{
			color: $green;
		}
		
		ul
		{
			font-size: 0.8em;
			
			li
			{
				line-height: 1.4em;
			}
		}
	}
	
	
	#dark-overlay
	{
		display: none;
		position: fixed;
		top: $mobile-decoration-top-height;
		left: 0;
		width: 100vw;
		height: $mobile-content-height;
		z-index: 500;
		background: $black;
		opacity: 0.6;
	}
	
	#mobile-main-content
	{
		@include outer-container;
		height: $mobile-content-height;	
		
		background: $grey-light;
	
		header
		{
			height: $mobile-navigation-height;
			font-size: $mobile-navigation-height/1.75;
			line-height: $mobile-navigation-height - 2vh; // - vertical padding
			padding: 1vh 0;
			
			@include linear-gradient($grey-light, $grey-middle);
			
			border-bottom: 1px solid $grey-dark;
			
			div.left-part
			{
				@include span-columns(11);
				
				a#simple-menu
				{
					margin-left: 0.8em;
					margin-right: 0.8em;
					outline: none;		
				}
				
				h1
				{
					display: inline-block;
				}
			}
			
			div.right-part
			{
				@include span-columns(1);
				@include omega();
								
				text-align: right;
				
				a
				{
					margin-right: 0.8em;
					outline: none;
					color: $grey-dark;
				}
				
				a.envelop
				{
					position: relative;
					color: $grey-dark;
					
					span.number-of-messages
					{
						position: absolute;
						font-familiy: monospace; // FIXME perhaps remove this element, ugly
						bottom: 1em;
						right: 0.25em;
						font-size: 0.3em;
						line-height: 1em;
						font-weight: bold;
					}
				}
				
				a.envelop.active
				{
					color: $black;	
					
					span.number-of-messages
					{
						color: $red;
					}
				}
				
			}
		}
		
		article
		{
			background: $white;
			
			height: $mobile-content-height - $mobile-navigation-height;
			overflow-x: hidden;
		
			div.with-padding
			{
				padding: $mobile-payload-padding;
				height: $mobile-content-height - $mobile-navigation-height;
			}
			
			div.leaflet-container,
			div.widget-container
			{
			// FIXME no resize of flot charts
				width: 100%;
				height: 30vh;
			//	height: $mobile-payload-height;
				min-height: 10vh;
				max-height: $mobile-content-height - $mobile-navigation-height;
			}
			
		}
	}
}

// and eventually import content-specific styles
@import "focus-contents";

article 
{
	h2
	{
		color: $green-dark; 
		font-size: 1.2em;
		margin-bottom: 0.5em;
	}
	
	.leaflet-container
	{
		cursor: initial;
	}
	
	div.notifications-inbox
	{
		ul
		{
			li
			{
				
				border-bottom: 1px solid $grey-dark;
				
				div.header 
				{
					@include outer-container;
					padding: 0.75em 0.75em 0.75em 1.3em;
				}
				
				
				div.unread
				{
					font-weight: bold;
				}
				
				div.col-1
				{
					@include span-columns(4);
				}
				
				div.col-2
				{
					@include span-columns(6);
				}
				
				div.col-3
				{
					@include span-columns(2);
					@include omega;
					
					text-transform: uppercase;
				}
				
				div.modal-box-message-detail
				{
					padding: 0em 0.75em 0.75em 1.3em;
					font-weight: normal;
					
					p.task
					{
						padding: 0.5em 0 0.75em 0;
					}
					
					label
					{
						display: block;
						margin-bottom: 0.25em;
					}
					textarea
					{
						font-size: 1em;
						width:100%;
						height: 5em;
						padding: 0.25em;
						resize: none;
					}
					
					div.buttons
					{
						@include outer-container;
						
						text-align: center;
						
						> div
						{
							text-align: center;
						}
						
						div.col-button-1
						{
							@include span-columns(6);
						}
						
						div.col-button-2
						{
							@include span-columns(6);
							@include omega();
						}
						
						button,
						div.button-like
						{
							font-size: 1em;
							margin-right: 3em;
							padding: 0.25em 0.5em;
							width: 8em;
							margin-top: 0.5em;
							margin-botom: 1em;
						}
						
						div.button-like
						{
							border: 1px solid $grey-dark;
							margin-left: auto;
							margin-right: auto;
							text-transform: uppercase;
							padding-top: 0.5em;
							padding-bottom: 0.5em;
						}
					}
				}
			}
			
			li.live > div.header
			{
				cursor: pointer;
			}

		}
	}
	
	
	
	
	div.machine-overview,
	div.order-status,
	div.time-control
	{
		div.machine-status
		{
			height: $mobile-payload-height * 0.3;
			text-align: center;
			
			.status
			{
				font-size: 2.5em;
				color: $red;
				font-weight: bold; 
				padding: 0.5em 0;

				&.working
				{
					color: $green;
				}
			}
		
		}
		
		div.data
		{
			@include outer-container;
		
			height: $mobile-payload-height * 0.7;
		
			div.col-1
			{
				@include shift(2);
				@include span-columns(4);
			}
			
			div.col-2
			{
				@include shift(1);
				@include span-columns(4);
				@include omega;
			}
			
			> div
			{	
				ul
				{
					li
					{
						
						span
						{
							line-height: 1.5em;
							margin-bottom: 0.5em;
						}
						
						span.label
						{
							font-weight: bold;
							display: block;
							margin-bottom: 0;
						}
						
						a
						{
							color: $green;
							line-height: 2em;
						}
					}
				}
			}
		
		}
	}
	
	div.order-status
	{
		div.machine-status
		{
			height: $mobile-payload-height * 0.5;
		}
		
		div.data
		{
			height: $mobile-payload-height * 0.5;
			
			p
			{
				line-height: 1.5em;
				
				span.label
				{
					display: inline-block;
					min-width: 8.5em;
				}
			}
			
			div.progress-bar
			{
				position: relative;
				width: 100%;
				height: 1.5em;
				line-height: 1.5em;
				font-size: 0.8em;
				
				border: 1px solid $grey-dark;
				margin-top: 1em;
				
				span.value
				{
					padding: 0 1em;
					position: absolute;
					left: 0;
					top: 0;					
				}
				
				div.completed,
				div.empty
				{
					position: absolute;
					top: 0;
					left: 0;
					background: $green-light;
					width: 50%;
					height: 100%;
				}
				
				div.empty
				{
					background: $white;
					width: 50%;
					left: auto;
					right: 0;
				}
			}
		}
	}
	
	.stand-information
	{
		div.row
		{
			@include outer-container;
	
			
			div.col-1
			{
				@include span-columns(6);
			}
			
			div.col-2
			{
				@include span-columns(6);
				@include omega;
			}
		}
		
		section
		{
			margin-bottom: 1.5em;
		}

		h2
		{
			color: $green-dark;
		}
		
		h3
		{
			color: $green;
			margin-top: 1em;
			margin-bottom: 0.25em;
			text-align: center;
		}
		
		ul,
		ol
		{			
			li
			{
				line-height: 1.3em;
				margin-bottom: 0.5em;
				
				@include outer-container;
				
				span 
				{
					display: inline-block;
					@include span-columns(3 of 6);
				}
				
				span.label
				{
					@include omega;
					font-weight: bold;
					padding-right: 1em;
				}
			}
		}
		
		ol.shorten
		{
			width: 85%;
			list-style-type: decimal;
			padding-left: 2 * $mobile-payload-padding;
		}
		
		table
		{
			margin-bottom: 1em;
			width: 100%;
			max-width: 100%;
			font-size: 0.8em; 
			
			td, th
			{
				padding: 0.75em 0.5em;				
			}
			
			tr.main-cat th,
			tr.result
			{
				font-weight: bold;
			}
			
			tr.second-cat th
			{
				vertical-align: bottom;
			}
			
			tr.data th
			{
				white-space: nowrap;
			}
			
			th
			{
				color: $green;
			}
			
			td,th
			{
				border: 1px solid $grey-dark;
				text-align: center;
			}
			
			tr.main-cat th
			{
				border: none;
			}
		}
		
	}
	
	.silvicultural-planning
	{
		ul
		{
			font-size: 1.5em;
			line-height: 2em;
			margin-bottom: 0.75em;
			
			span.label
			{
				width: 8em;
				font-weight: bold;
			}
		}
	}
	
	.woodpile-information
	{
		@include outer-container;
		/*
		ul
		{			
			li
			{
				line-height: 1.3em;
				margin-bottom: 0.25em;
				
				span.label
				{
					font-weight: bold;
					display: inline-block;
					margin-right: 1em;
				}
			}
		}*/
		
		div.image
		{
			text-align: center;
			height: $mobile-payload-height * 0.5;
			
			img
			{
				//height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
		
		div.row
		{
			@include span-columns(12);
			
			height: $mobile-payload-height * 0.5;
			padding-top: 1em;
			
			
			@include outer-container;
			
			div.col-1
			{
				@include shift(0.5 of 12);
				@include span-columns(5.5 of 12);
			}
			
			div.col-2
			{
				@include shift(0.5 of 12);
				@include span-columns(5.5 of 12);
				@include omega;
			}
		
			ul,
			{			
				li
				{
					line-height: 1.3em;
					margin-bottom: 0.5em;
					
					@include outer-container;
					
					span 
					{
						display: inline-block;
						@include span-columns(2 of 5.5);
					}
					
					span.label
					{
						@include span-columns(3.5 of 5.5);
						@include omega;
						font-weight: bold;
						padding-right: 1em;
					}
				}
			}
		
		
		}
	}
	
	.time-control
	{
		div.data 
		{
			padding-top: 3vh;
		}
	}
	
	.stand-map
	{
		div.map-container
		{
			position: relative;
			
			div.pictures
			{
				position: absolute;
				top: 40px;
				right: 50px;
				max-width: 30%;
				height: auto;
				border: 5px solid $grey-light;
				
				img
				{
					width: 100%;
					height: auto;
					max-height: 0.8 * $mobile-payload-height;
				}
				
			}
		}
	}
	
	.vehicle-payload,
	.fuel-consumption,
	.engine-revolutions
	{
		@include outer-container;
		
		div.col-1
		{
			@include span-columns(9);
			
			.chart
			{
				height: 1 * $mobile-payload-height !important;
			}
		}
		
		div.col-2
		{
			@include span-columns(3);
			@include omega;
			
			table
			{
				width: 100%;
				font-size: 0.8em;
				
				th
				{
					font-weight: bold;
					border-bottom: 1px solid $grey-dark;
				}
				
				td,
				th
				{
					text-align: center;
					line-height: 2em;
					width: 50%;
				}
				
			}
			
		}	
	}
	
	.machine-data-overview
	{
		.row
		{
			@include outer-container;
			height: 0.45 * $mobile-payload-height;
		}
		
		.row.first
		{
			margin-bottom: 0.1 * $mobile-payload-height;		
		}
		
		.col-1,
		.col-2,
		.col-3,
		.col-4
		{
			@include span-columns(3);
			height: 100%;
			text-align: center;
			
			.value
			{
				padding-top: 0.07 * $mobile-payload-height;
				padding-bottom: 0.07 * $mobile-payload-height;
				font-size: 0.08 * $mobile-payload-height;
				line-height: 1em;
				font-weight: bold;
				height: 0.225 * $mobile-payload-height;
			}
			
			.warning-zone
			{
				color: $orange;
			}
			
			.danger-zone
			{
				color: $red;
			}
			
			.title
			{
				padding-bottom: 1em;
				height: 3em;
			}
			
			.link
			{
				font-size: 0.8em;
				color: $green;
			}
		}
		
		.col-4
		{
			@include omega;
		}
	}
}

