@import "../contrib/bourbon/app/assets/stylesheets/bourbon";
@import "setup";
@import "sidr";
@import "../contrib/neat/app/assets/stylesheets/neat";

.sidr
{
		// add padding-top:
	padding-top: 2em;
	margin-top: 2em;
	
}
body
{
	background: black;
	position:absolute;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
}

#mobile-bar-top
{
	height: 2em;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
}

#mobile-bar-bottom
{
	height: 2em;
	color: white;
	position:fixed;
	bottom: 0;
	left: 0;
}

#mobile-main-content
{
	background: #fefefe;
	margin: 2em 0;
	position: fixed;
	//height: 100%;
	width: 100%;
	margin: 4em 0;
}