@import "reset";
@import "../contrib/bourbon/app/assets/stylesheets/bourbon";
@import "setup";
@import "../contrib/neat/app/assets/stylesheets/neat";
@import "fonts";
@import "sidr";






@keyframes color-change 
{
    0% { color: $grey-dark; }
    40% { color: $grey-dark; }
    50% { color: $black; }
    60% { color: $grey-dark; }
    100% { color: $grey-dark; }
}




body
{
	font-family: $font-family-sans-serif;
//	font-size: em($font-size-normal, $font-size-reference);	
	font-size: 3vh;
	// FIXME activate just to be safe // 
	overflow: hidden;
	
	a
	{
		color: inherit;
		text-decoration: none;
	}
	
	#mobile-bar-top,
	#mobile-bar-bottom
	{
		height: $mobile-decoration-top-height;
		background: $black;
		color: white;
		
		a
		{
			outline: none;
		}
	}
	
	#mobile-bar-top
	{
		font-size: $mobile-decoration-top-height * 0.5;
		font-family: monospace; // FIXME chose a font
		
		line-height: $mobile-decoration-top-height * 0.5;
		padding: $mobile-decoration-top-height * 0.25 0;
		
		.notifications
		{
			@include span-columns(6);
			padding-left: 0.5em;
			
			i
			{
				margin-right: 0.25em;
			}
		}
		
		.tools
		{
			@include span-columns(6);
			@include omega;
			
			text-align: right;
			padding-right: 0.5em;
			
			a,
			i
			{
				margin-left: 0.25em;
			}
		}
	}
	
	#mobile-bar-bottom
	{
		height: $mobile-decoration-bottom-height;
		
		.controls
		{
			@include span-columns(6);
			@include shift(3);
		
			padding: $mobile-decoration-bottom-height * 0.25 0;
			font-size: $mobile-decoration-bottom-height * 0.5;
			line-height: 1em;
			
			text-align: center;
			
			a.center
			{
				margin: 0 4em;
			}
		}
	}
	
	aside#time-machine
	{
		@include outer-container;
		
		display: none; 
		position: fixed;
		bottom: $mobile-decoration-bottom-height;
		width: 100vw;
		background: $black;
		color: $white;
		z-index: 999;
		padding: 0.8em;
		opacity: 0.7;
		
		div.date
		{
			@include span-columns(3);
			text-align: right;
		}
		
		div.slider
		{
			@include span-columns(6);
			
		}
		
		div.controls
		{
				@include span-columns(3);
				@include omega;
				
				i
				{
					margin-right: 0.75em;
					cursor: pointer;
				}
				
				i.inactive
				{
					color: $grey-dark;
				}
		}
		
		
		

	input[type=range]{
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid inherit; //was white 

    /*required for proper track sizing in FF*/
    width: 100%;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 32px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid inherit; // was white
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}


	}
	
	#sidr.focus-intro
	{
		padding: 1.5em 1em;
		font-size: 0.8em;
		
		h1
		{
			display: none;
		}
		
		h2
		{
			color: $green-dark;
			margin-bottom: 0.5em;
			padding-top: 0.5em;
		}
		
		h3
		{
			color: $green;
			font-weight: bold;
			font-size: 0.8em;
			margin-bottom: 0.25em;
		}
		
		img
		{
			width: 100%;
			height: auto;
			margin-bottom: 1.5em;
		}
		
		p,
		ul
		{
			margin-bottom: 0.75em;
		}
		
		a
		{
			color: $green;
		}
		
		ul
		{
			font-size: 0.8em;
			
			li
			{
				line-height: 1.4em;
			}
		}
	}
	
	
	#dark-overlay
	{
		display: none;
		position: fixed;
		top: $mobile-decoration-top-height;
		left: 0;
		width: 100vw;
		height: $mobile-content-height;
		z-index: 500;
		background: $black;
		opacity: 0.6;
	}
	
	#mobile-main-content
	{
		@include outer-container;
		height: $mobile-content-height;	
		
		background: $grey-light;
	
		header
		{
			height: $mobile-navigation-height;
			font-size: $mobile-navigation-height/1.5;
			line-height: $mobile-navigation-height - 2vh; // - vertical padding
			padding: 1vh 0;
			
			@include linear-gradient($grey-light, $grey-middle);
			
			border-bottom: 1px solid $grey-dark;
			
			div.left-part
			{
				@include span-columns(9);
				
				a#simple-menu
				{
					margin-left: 0.8em;
					margin-right: 0.8em;
					outline: none;		
				}
				
				h1
				{
					display: inline-block;
				}
			}
			
			div.right-part
			{
				@include span-columns(3);
				@include omega();
								
				text-align: right;
				
				a
				{
					margin-right: 0.8em;
					outline: none;
					color: $grey-dark;
				}
				
				a.active
				{
					position: relative;
					color: $grey-dark;
					animation: color-change 3s infinite;
					
					span.number-of-messages
					{
						position: absolute;
						font-familiy: monospace; // FIXME perhaps remove this element, ugly
						bottom: 1em;
						right: 0.25em;
						font-size: 0.3em;
						line-height: 1em;
						font-weight: bold;
					}
				}
				
			}
		}
		
		article
		{
			background: $white;
			
			height: $mobile-content-height - $mobile-navigation-height;
			overflow-x: hidden;
		
			div.with-padding
			{
				padding: $mobile-payload-padding;
				height: $mobile-content-height - $mobile-navigation-height;
			}
			
			div.leaflet-container,
			div.widget-container
			{
			// FIXME no resize of flot charts
				width: 100%;
				height: 30vh;
			//	height: $mobile-payload-height;
				min-height: 10vh;
				max-height: $mobile-content-height - $mobile-navigation-height;
			}
			
		}
	}
}

// and eventually import content-specific styles
@import "focus-contents";


