<div class="terrain-overview" ng-controller="TerrainOverviewController as terrainCtrl">

	<!-- <form>
		Latitude : <input type="number" step="any" ng-model="terrainCtrl.center.lat">
		Longitude : <input type="number" step="any" ng-model="terrainCtrl.center.lng">
		Zoom : <input type="number" step="any" ng-model="terrainCtrl.center.zoom">
	</form>	  -->
	
	<!--  you must set a widget-container around the leaflet -->
	<div class="widget-container-terrain-overview">
		<leaflet id="mymap" layers="terrainCtrl.tileLayer" center="terrainCtrl.center" defaults="terrainCtrl.defaults" markers="terrainCtrl.markers" event-broadcast="terrainCtrl.events"></leaflet> 
	</div>
</div> 