<div class="terrain-overview" ng-controller="TerrainOverviewController as terrainCtrl">

	<!-- <form>
		Latitude : <input type="number" step="any" ng-model="terrainCtrl.center.lat">
		Longitude : <input type="number" step="any" ng-model="terrainCtrl.center.lng">
		Zoom : <input type="number" step="any" ng-model="terrainCtrl.center.zoom">
	</form>	  -->
	
	<!--  you must set a widget-container around the leaflet -->
<!-- 	<a ng-click="terrainCtrl.test()">test {{terrainCtrl.dataService.data.machine[3].lat}}</a>-->
	<div class="widget-container-terrain-overview">
		<leaflet id="TerrainOverviewMap" layers="terrainCtrl.tiles" center="terrainCtrl.center" defaults="terrainCtrl.defaults" markers="terrainCtrl.markers" paths="terrainCtrl.paths" event-broadcast="terrainCtrl.events"></leaflet> 
	</div>
</div> 